# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
dist-ssr/

# Environment files — JANGAN commit ke git!
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
